.uppercase{
      text-transform: uppercase;
}
.padding-64{
     padding: 64px 0;
}
.center{
     text-align: center;
}
.margin-10{
    margin: 10px 0;
}
.fs-18{
     font-size: 18px;
}
.margin-15{
    margin: 15px 0;
}
.margin-16{
    margin: 16px 0;
}
.margin-top-16{
    margin-top: 16px;
}
.margin-top-32{
     margin-top: 32px;
}
.ltr-spacing{
     letter-spacing: 4px;
}
.padding-48{
     padding: 48px 0;
}
.card{
     box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.2);
}
.fw-400{
     font-weight: 400;
}
.gray{
     color: gray;
}
.grayScale-50{
    filter: grayscale(50%);
}
.grayScale-70{
      filter: grayscale(70%);
}
.tag{
     background: #000;
     color:  #fff;
     padding: 4px 8px;

}